body {
    background-color: skyblue;
}

button {
    background-color: black;
    color: white;
    font-size: large;
    font-family: cursive;
    border: none;
}

button:hover {
    cursor: pointer;
}

input {
    height: 20px;
    width: 25%;
}

h1 {
    font-size: 40px;
    font-family: cursive;
    width: 70%;
    background-color: whitesmoke;
}

h2 {
    font-size: 30px;
    font-family: cursive;
    width: 30%;
    background-color: whitesmoke;
}